.detalleContenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detalleContenedor h2 {
    text-transform: uppercase;
    padding-top: 30px;
}

.cargando {
    padding-top: 20px;
    text-align: center;
}