article {
    border: solid 1px black;
    border-radius: 1rem;
    padding: 30px;
}

article .imgCard {
    background-color: #d6e0f0;
    border-radius: 1rem;
}

article button {
    margin-top: 20px;
    background-color: #f1f3f8;
    color: black;
    padding: 5px;
}