article {
    border: solid 1px black;
    border-radius: 1rem;
    padding: 30px;
}

article .imgCard {
    border-radius: 1rem;
}

article .imgCard img {
    max-width: 100px;
}

article h3 {
    text-transform: uppercase;
}

article button {
    margin-top: 20px;
    padding: 10px;
    text-decoration: none;
    background-color: #d6e0f0;
    border: 1px solid black;
    border-radius: 0.5rem;
}

article button:hover {
    background-color: #f1f3f8;
}