.cursosDestacados {
    background-color: white;
    padding-top: 20px;
    text-align: center;
}

.cursosDestacados h2 {
    text-transform: uppercase;
    color: #393b44;
    font-weight: 900;
}

.listadoCursos {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
}

.listadoCursos li {
    list-style: none;
}
