.cursosDestacados {
    background-color: white;
    padding: 40px;
}

.cursosDestacados h2 {
    text-transform: uppercase;
    color: #393b44;
    font-weight: 900;
}

.listadoCursos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}

.listadoCursos li {
    list-style: none;
}
