.header {
    display: flex;
    background-color: #d6e0f0;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.logo {
    padding: 5px 20px 0 0;
}

a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
