.cartWidget {
    height: 80vh;
    width: 20%;
    position: fixed;
    right: 0;
    top: 10%;
    border: solid 1px black;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 10px 5px;
}

.open {
    display: block;
}

.close {
    display: none;
}

.cartWidget button {
    border-radius: 10px;
}